@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-size: 14px;
  background-color: hsl(229, 57%, 11%);
  background-image: url("/images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  body{
    background-image: url("/images/bg-mobile.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }
}